{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "importOrder": ["^app/", "^pages/", "^widgets/", "^features/", "^entities/", "^shared/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["jsx", "typescript"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "include": ["./config/**/*", "./src/**/*"]
}
